@model IEnumerable<Models.TipoPelicula>

@{
    ViewBag.Title = "TipoPelicula";
}
<style>


    body {
        background-image: url('/FOTOS/BLACK1.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <br />
    <br />
    <h2>Tipo Pelicula</h2>

    <p>
        @Html.ActionLink("Crear Tipo Pelicula", "Create")
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                CÓDIGO
            </th>
            <th>
                DESCRIPCIÓN
            </th>
            <th>
                ESTADO
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.codigo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.ActionLink("Actualizar", "Edit", new { codigo = item.codigo }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { codigo = item.codigo }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</body>
